html {
  font-size: 100%;
  color-profile: sRGB;
  rendering-intent: auto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font: 14px/22px Arial, sans-serif; }

h1, h2, h3 {
  font-family: "Terminal Dosis", sans-serif;
  font-weight: 500; }

h1 {
  font-size: 24px;
  margin-top: 24px; }

h2 {
  font-size: 20px;
  margin-top: 12px; }

h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.055em; }

h5 {
  font-size: 14px;
  margin-bottom: 14px; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #000;
  color: #eee; }

.container,
.navigation {
  width: 950px;
  /*border: 1px solid blue;*/
  margin: 0 auto;
  display: block; }

.navigation {
  display: none; }

a {
  text-decoration: none;
  color: #fff; }

/* Headers */
h1, h2, h3 {
  color: #fff; }

h1, h2 {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.055em;
  text-transform: uppercase; }
  h1 strong, h2 strong {
    font-weight: 700;
    color: #fff; }

h1 {
  line-height: 80px;
  margin-top: 0; }

h2 {
  margin-bottom: 35px;
  line-height: 48px;
  border-top: 1px solid #242424;
  border-bottom: 1px solid #242424;
  color: #595959; }
  h2 strong {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 18px;
    margin-right: 18px;
    border-right: 1px solid #242424; }

h3 {
  text-transform: none; }

/** About */
body {
  -webkit-transition: padding-top 0.3s cubic-bezier(0, 0.69, 0.42, 1);
  -o-transition: padding-top 0.3s cubic-bezier(0, 0.69, 0.42, 1);
  -moz-transition: padding-top 0.3s cubic-bezier(0, 0.69, 0.42, 1);
  transition: padding-top 0.3s cubic-bezier(0, 0.69, 0.42, 1);
  min-width: 950px; }

body.about {
  padding-top: 114.5px; }
  body.about #about {
    margin-top: 0; }
  body.about #about-link {
    margin-top: 114.5px; }

#about-link,
#about-exit {
  -webkit-transition: margin-top 0.3s cubic-bezier(0, 0.69, 0.42, 1);
  -o-transition: margin-top 0.3s cubic-bezier(0, 0.69, 0.42, 1);
  -moz-transition: margin-top 0.3s cubic-bezier(0, 0.69, 0.42, 1);
  transition: margin-top 0.3s cubic-bezier(0, 0.69, 0.42, 1);
  position: absolute;
  top: 27px;
  margin-left: 445px;
  font-family: "Terminal Dosis", sans-serif;
  font-weight: 700;
  font-size: 12px;
  left: 50%;
  display: inline-block;
  width: 25px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  border-radius: 30px;
  background-color: #151515; }
  #about-link:hover,
  #about-exit:hover {
    background-color: #1d1d1d; }

#about-exit {
  font-weight: normal !important; }

#about {
  -webkit-transition: margin-top 0.3s cubic-bezier(0, 0.69, 0.42, 1);
  -o-transition: margin-top 0.3s cubic-bezier(0, 0.69, 0.42, 1);
  -moz-transition: margin-top 0.3s cubic-bezier(0, 0.69, 0.42, 1);
  transition: margin-top 0.3s cubic-bezier(0, 0.69, 0.42, 1);
  position: absolute;
  top: 0;
  width: 100%;
  height: 62px;
  padding: 26.25px 0;
  margin-top: -114.5px;
  background-color: #eff2f2;
  color: #27313b;
  line-height: 24px;
  font-size: 15px; }
  #about p {
    width: 60%; }
    #about p strong {
      display: block;
      margin-bottom: 10px;
      text-transform: uppercase;
      font: 22px "Terminal Dosis", sans-serif;
      letter-spacing: 0.055em; }
      #about p strong em {
        font-style: normal; }

/** Mast */
#mast {
  margin-bottom: 35px;
  height: 350px;
  overflow: hidden;
  background-color: #252525; }
  #mast canvas {
    position: absolute; }
  #mast #update {
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    /* Normally hidden */
    opacity: 0;
    color: #222;
    background-color: #fff3dd;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    padding: 0 28px;
    border-radius: 0 0 8px 8px;
    position: relative;
    z-index: 2; }
  #mast:hover #update {
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    opacity: 1; }
    #mast:hover #update:hover {
      background-color: white;
      text-decoration: underline; }

/** Tool */
#toolbox {
  /*temp*/
  /*display: none;*/ }
  #toolbox article {
    padding-top: 17.5px;
    padding-bottom: 52.5px; }
    #toolbox article:after {
      content: ' ';
      display: block;
      clear: both; }
    #toolbox article .download-links {
      width: 950px;
      position: absolute;
      text-align: right;
      margin-top: -4px;
      font-family: "Terminal Dosis", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-weight: 500; }
      #toolbox article .download-links a {
        /*border-bottom: 1px dotted #ccc;*/
        display: inline-block;
        padding: 0 9px;
        line-height: 30px;
        margin-right: 3px;
        border-radius: 3px;
        background-color: #111; }
        #toolbox article .download-links a:hover {
          background-color: #161616; }
        #toolbox article .download-links a .size {
          color: #595959; }
    #toolbox article:not(:last-child) {
      border-bottom: 1px solid #242424;
      margin-bottom: 35px; }
    #toolbox article h3 {
      font-size: 32px;
      font-weight: 500; }
    #toolbox article h3, #toolbox article p {
      margin-bottom: 35px; }
  #toolbox figure {
    width: 290px;
    height: 194px;
    margin-right: 36px;
    float: left; }
    #toolbox figure a {
      display: block;
      /*      &:before {
              opacity: 0.86;
              width: 44px;
              display: block;
              content: '';
              background: url(/img/gear.png);
              height: 44px;
              position: absolute;
              margin-top: 1px;
            }*/ }
      #toolbox figure a img {
        width: 290px;
        height: 194px;
        border: 1px solid #222; }
      #toolbox figure a:hover:before {
        opacity: 1; }
  #toolbox .button {
    width: 200px;
    line-height: 36px;
    float: left;
    font-weight: 500;
    margin-right: 17px;
    /*background-color: #3f3631;*/
    text-align: center;
    letter-spacing: 0.08em;
    font-family: "Terminal Dosis", sans-serif;
    color: #fff;
    font-size: 17px; }
    #toolbox .button.example {
      box-shadow: inset 0 0 3px #589126;
      border: 1px solid #6cb12f;
      text-shadow: 0 -1px 0 #3b601a;
      background: #609d2a;
      background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#40681c), to(#71b931), color-stop(0.5, #609d2a), color-stop(0.51, #78c534));
      background: -o-gradient(linear, 0% 100%, 0% 0%, from(#40681c), to(#71b931), color-stop(0.5, #609d2a), color-stop(0.51, #78c534));
      background: -moz-linear-gradient(0% 100% 90deg, #71b931, #78c534, #609d2a 48%, #78c534 51%);
      background: -ms-linear-gradient(0% 100% 90deg, #71b931, #78c534, #609d2a 48%, #78c534 51%);
      background: linear-gradient(0% 100% 90deg, #71b931, #78c534, #609d2a 48%, #78c534 51%); }
      #toolbox .button.example:hover {
        box-shadow: inset 0 0 3px #65a52c;
        border: 1px solid #78c534;
        text-shadow: 0 -1px 0 #47741f;
        background: #6cb12f;
        background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#4c7d21), to(#7dcb39), color-stop(0.5, #6cb12f), color-stop(0.51, #85ce45));
        background: -o-gradient(linear, 0% 100%, 0% 0%, from(#4c7d21), to(#7dcb39), color-stop(0.5, #6cb12f), color-stop(0.51, #85ce45));
        background: -moz-linear-gradient(0% 100% 90deg, #7dcb39, #85ce45, #6cb12f 48%, #85ce45 51%);
        background: -ms-linear-gradient(0% 100% 90deg, #7dcb39, #85ce45, #6cb12f 48%, #85ce45 51%);
        background: linear-gradient(0% 100% 90deg, #7dcb39, #85ce45, #6cb12f 48%, #85ce45 51%); }
    #toolbox .button.source {
      box-shadow: inset 0 0 3px #008bcc;
      border: 1px solid #00a7f5;
      text-shadow: 0 -1px 0 #00618f;
      background: #0096db;
      background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#006899), to(#00aeff), color-stop(0.5, #0096db), color-stop(0.51, #0fb3ff));
      background: -o-gradient(linear, 0% 100%, 0% 0%, from(#006899), to(#00aeff), color-stop(0.5, #0096db), color-stop(0.51, #0fb3ff));
      background: -moz-linear-gradient(0% 100% 90deg, #00aeff, #0fb3ff, #0096db 48%, #0fb3ff 51%);
      background: -ms-linear-gradient(0% 100% 90deg, #00aeff, #0fb3ff, #0096db 48%, #0fb3ff 51%);
      background: linear-gradient(0% 100% 90deg, #00aeff, #0fb3ff, #0096db 48%, #0fb3ff 51%); }
      #toolbox .button.source:hover {
        box-shadow: inset 0 0 3px #009de6;
        border: 1px solid #0fb3ff;
        text-shadow: 0 -1px 0 #0073a8;
        background: #00a7f5;
        background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#007ab3), to(#1ab6ff), color-stop(0.5, #00a7f5), color-stop(0.51, #29bbff));
        background: -o-gradient(linear, 0% 100%, 0% 0%, from(#007ab3), to(#1ab6ff), color-stop(0.5, #00a7f5), color-stop(0.51, #29bbff));
        background: -moz-linear-gradient(0% 100% 90deg, #1ab6ff, #29bbff, #00a7f5 48%, #29bbff 51%);
        background: -ms-linear-gradient(0% 100% 90deg, #1ab6ff, #29bbff, #00a7f5 48%, #29bbff 51%);
        background: linear-gradient(0% 100% 90deg, #1ab6ff, #29bbff, #00a7f5 48%, #29bbff 51%); }

#projects .navigation {
  padding: 0 0 35px 0; }
  #projects .navigation a {
    position: relative;
    display: inline-block;
    margin-top: -110px;
    font-family: "Terminal Dosis", sans-serif;
    font-size: 24px; }
    #projects .navigation a.prev {
      float: left;
      margin-left: -37px; }
    #projects .navigation a.next {
      float: right;
      margin-right: -37px; }
  #projects .navigation ul {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 12px 0 0 0; }
    #projects .navigation ul li {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background: #252525;
      color: #252525;
      margin-right: 6px;
      overflow: hidden;
      cursor: pointer; }
      #projects .navigation ul li:hover, #projects .navigation ul li.active {
        background: #656565;
        color: #656565; }
#projects .container {
  padding: 35px 0;
  vertical-align: top; }
  #projects .container a {
    border: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 36px;
    float: left;
    width: 290px;
    height: 194px;
    line-height: 0; }
    #projects .container a:not(:nth-child(3n)) {
      margin-right: 36px; }
    #projects .container a:last-child:after {
      display: block;
      clear: both; }
    #projects .container a img {
      width: 290px;
      height: 194px;
      opacity: 1;
      position: relative; }
    #projects .container a figcaption {
      text-align: center;
      line-height: 194px;
      margin-top: -194px;
      font-size: 24px;
      opacity: 0;
      display: block;
      position: relative;
      top: 0;
      left: 0;
      width: 290px;
      height: 194px;
      background-color: rgba(0, 0, 0, 0.6);
      font-family: "Terminal Dosis", sans-serif;
      -webkit-transition: opacity 0.15s linear;
      -o-transition: opacity 0.15s linear;
      -moz-transition: opacity 0.15s linear;
      transition: opacity 0.15s linear; }
    #projects .container a:hover {
      border: 1px solid #242424; }
      #projects .container a:hover figcaption {
        opacity: 1; }
#projects #carousel:not(:empty) {
  clear: both;
  -webkit-transition: margin-left 0.3s cubic-bezier(0, 0.69, 0.42, 1);
  -o-transition: margin-left 0.3s cubic-bezier(0, 0.69, 0.42, 1);
  -moz-transition: margin-left 0.3s cubic-bezier(0, 0.69, 0.42, 1);
  transition: margin-left 0.3s cubic-bezier(0, 0.69, 0.42, 1); }

.clear {
  clear: both; }

p.old {
  font-weight: 500;
  font-size: 24px;
  font-family: "Terminal Dosis", sans-serif;
  letter-spacing: 0.055em;
  padding: 50px;
  max-width: 800px;
  line-height: 36px; }
  p.old a {
    text-decoration: underline; }
  p.old strong {
    font-weight: 700;
    color: #fff; }

footer {
  clear: both;
  height: 68px;
  background-color: #1c1c1c; }
  footer #footerContent {
    width: 916px;
    margin: 0 auto;
    padding: 21px 0 0;
    height: 47px;
    display: block; }
  footer ul {
    clear: right;
    float: right; }
    footer ul li {
      display: inline-block;
      clear: both;
      vertical-align: bottom; }
      footer ul li a {
        padding-right: 16px;
        color: #fff;
        font-size: 11px;
        line-height: 24px;
        text-decoration: underline; }