
input[type="text"], input[type=checkbox], select {
	font-size:11px;
	width:auto;
	height:auto;
	margin-bottom:9px;
}

textarea {
	width:auto;
}

.fcma-setup {
	width:100%;
	min-width:900px;
	min-height:500px;
}

.fcma-gui {
	width:60%;
	float:left;
}

.fcma-file {
	width:40%;
	float:right;
}
